@media (min-width: 992px) {
	.tagling-head{
		font-size:26px;
	}
	.nav>li>a {
		padding: 10px 25px;
	}
	.callnumber-head {
		padding-top: 6px;
		font-size: 24px;
	}
	.follow-head {
		font-size: 24px;
	}
	.navbar-default .navbar-brand {
		font-size: 52px;
	}
	.welcome-title {
		font-size: 80px;
	}
	.about-box {
		font-size: 23px;
	}
	.contact-about {
		font-size: 24px;
	}
	.service-title {
		font-size: 50px;
	}
	.service-box {
		font-size: 18px;
	}
	.service-box.-sevice-left-box {
		margin: 20px 0 82px;
	}
	.addess-footer {
		font-size: 19px;
	}
	.copyright {
		font-size: 19px;
	}
	.contact-footer {
		line-height: 1.25;
		font-size: 19px;
	}
	.copyright.-online-footer {
		padding-top: 15px;
	}
	.contact-footer a.-spac-footer {
		padding-left: 24%;
	}
}